<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="w3.org/2001/XMLSchema-instance" xsi:schemaLocation="java.sun.com/xml/ns/j2ee java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>co.edu.udistrital.bankproducts.controller.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientController</servlet-name>
        <servlet-class>co.edu.udistrital.bankproducts.controller.ClientController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/ProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientController</servlet-name>
        <url-pattern>/ClientController</url-pattern>
    </servlet-mapping>
</web-app>
